<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Search</title>
  <link rel="stylesheet" href="../static/styles.css">
  <style>
  </style>
</head>
<body>
  <h1>Search</h1>

  <form method="post" action="/search">
    <input type="text" id="query" name="query" required style="flex-grow: 2; margin-right: 10px;">
    <button type="submit">Search</button>
  </form>

  {% if pages %}
    <h2>Results:</h2>
    <ul>
      {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a> (Score: {{ page.score }})</li>
    </ul>
  {% endif %}
</body>
</html>
